<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: http://mozilla.github.io/nunjucks/ -->
<!-- jade: http://jade-lang.com/ -->
<!-- haml: http://haml.info/tutorial.html -->
<!-- hbs(handlebars): http://handlebarsjs.com/expressions.html -->

<!DOCTYPE html>
<html>
  <head>
    <title>Fish-scaring machine</title>
    <meta name="description" content="A cool thing made with HyperDev">
    <link id="favicon" rel="icon" href="https://hyperdev.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <script src="https://use.fontawesome.com/43bf973f2e.js"></script>
    <script src="https://cdn.hyperdev.com/us-east-1%3Ab82f94e5-8b61-4d8b-9169-e1eda149aa11%2Fjscolor.min.js"></script>
  </head>
  <body>
    <div id="instructions">
      <button onclick="$('#instructions #content').toggle()" title="toggle menu"><i class="fa fa-eye" aria-hidden="true"></i></button>
      <div id="content">
        <h1>Fish-scaring machine</h1>
        <fieldset id="description">
          <legend>Instructions</legend>
          <strong>Click once to set point of origin around the circle<br/>
          Click again to loom<br/>
          Right-click to reset starting point</strong><br/>
          App resets automatically after a couple seconds<br/>
          Circle size will adjust to window size after refresh<br/>
          Press F12 to see debug information
        </fieldset>
        <fieldset id="colors">
            <legend>Colors</legend>
            <label for="bgcolor">Background:</label><input id="bgcolor" class="jscolor" onchange="updateColor(this)" value="000000">
            <label for="circlecolor">Circle:</label><input id="circlecolor" class="jscolor" onchange="updateColor(this)" value="333333">
            <label for="loomcolor">Loom:</label><input id="loomcolor" class="jscolor" onchange="updateColor(this)" value="ffffff">
        </fieldset>
        <fieldset id="controls">
          <legend>Controls</legend>
          <label for="speed">Looming speed (frame/ms):</label> <input type="text" id="speed" value="100"><br/>
          <label for="increment">Looming increment (px/frame):</label> <input type="text" id="increment" value="1"><br/>
          <label for="rate">Accelaration (multiplier/frame):</label> <input type="text" id="rate" value="1.5"><br/>
          <label for="maxsize">Final size (px, defaults to fullscreen):</label> <input type="text" id="maxsize" value=""><br/>
          <label for="timeout">Wait time after looming (ms):</label> <input type="text" id="timeout" value="2000">
        </fieldset>
      </div>
    </div>
    <div id ="container">
      <div id="point"></div>
      <div id ="circle"></div>
    </div>


    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
